@font-face{font-family: Trebuchet MS; src: url('TrebuchetMS.ttf');}
html{
    height: 100%;
    background-image: URL("/background.jpg");
    background-color: black;
    /*background-position: center;
    background-repeat: no-repeat;*/
    background-size: cover;
    /*background-height: auto;*/
}
body{
	background-color: transparent;
	font-family: Trebuchet MS;
	/*min-width: 600px;*/
}
.mui-panel{
	background-color: rgba( 255, 255, 255, 0.85);
}